@model Film
<link href="~/css/site.css" rel="stylesheet"/>
<table class="table table-striped">
    <tbody>
        <tr>
            <td>@Model.Tytul</td>
            <td>
                <ul>
                    <li>@Model.Rezyser</li>
                    <li>@Model.Opis</li>
                    <li>@Model.Kategoria</li>
                    <li>@Model.DataDodania</li>
                    <li>@Model.Cena</li>
                </ul>
            </td>
        </tr>

    </tbody>
</table>
