@model Film
<link href="~/css/site.css" rel="stylesheet"/>
<button onclick="window.location.href='@Url.Action("EdytujFilm", "Filmy", new { id = Model.Id }) '">Edytuj Film</button>
<table class="table table-striped">
    <tbody>
        <tr>
            <td><img width="500" height="600" src="~/plakaty/@Model.Plakat"/></td>

            <td>
            <ul>                   
            <li>Tytuł: @Model.Tytul</li>
            <li>Reżyser: @Model.Rezyser</li>
            <li>Opis: @Model.Opis</li>
            <li>Kategoria: @Model.Kategoria.Nazwa</li>
            <li>Długość Filmu: @Model.DlugoscFilmu minut</li>
            <li>Cena: @Model.Cena zł</li>
            <li>Data Dodania: @Model.DataDodania</li>
            </ul>
            </td>
        </tr>

    </tbody>
</table>
