@model WypozyczalniaFilmow.Models.Film
@{
    Layout = "_Layout";
}
<table>
    <tr>
        <th>Nazwa</th>
        <th>Ilosc</th>
        <th>Cena</th>
    </tr>

    @foreach (var film in ViewBag.cart)
    {
        <tr>
            <td>@film.Film.Tytul</td>

            <td> <span id="itemQuantiiy-@film.Film.Id">@film.Ilosc</span></td>
            <td>@film.Film.Cena zł</td>
            <td><a href="@Url.Action("Usun", "Koszyk", new {id = film.Film.Id })" class="trash" data-id="@film.Film.Id">❌</a></td>
        </tr>
    }
</table>
<div id="totalPrice">
    Razem: @ViewBag.total
</div>

@section Scripts{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        $(".trash").click(function () {
            var IdCartItem = $(this).data('id');
            if (IdCartItem != '') {
                $.post("/koszyk/usun", { id: IdCartItem },
                    function (response) {
                        if (response.itemQuantity == 0) {
                            $('#cartItem-' + response.itemId).fadeOut("slow");
                        } else {
                            $('#itemQuantity-' + response.itemId).text(response.itemQuantity);
                        }
                        $('#totalPrice').text("Razem: " + response.cartValue + " zł")


                    };
            }

        });
    </script>
}
