<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WypozyczalniaFilmow</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        @await (Component.InvokeAsync("Menu"))
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <ul class="nav">
            <li><a class="nav-link" href="@Url.Action("DodajFilm","Filmy")">Dodaj film</a></li>
            <li class="nav-item"><a class="nav-link" href="@Url.Action("StronyStatyczne", "Home", new { nazwa = "Omnie"})"> O mnie </a></li>
            <li class="nav-item"><a class="nav-link" href="@Url.Action("StronyStatyczne", "Home", new { nazwa = "Kontakt"})"> Kontakt </a></li>
            <li class="nav-item"><a class="nav-link" href="@Url.Action("StronyStatyczne", "Home", new { nazwa = "Info"})"> Info </a></li>
        </ul>
    </footer>
@RenderSection("Scripts", required: false)

</body>
</html>
